* {
  margin: 0;
  padding: 0;
}

,body {
  background-image: url(./img/rom_ter.png);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position-x: center;
 

  
}

.foto {
  width: 70%;
  height: 70%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.foto2 {
  width: 70%;
  height: 70%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  font-size:xx-large;
  color: crimson;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  padding: 50px;
  margin: 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  
}

p {
  color: #d76400;
}
